body {background-color: #776699; color:#ffffe0}
a {color: #b0c4de}
a:link, a:visited, a:active, a:hover {color:#8fbc8f; text-decoration: none}
a:hover {text-decoration: underline}
h1 {text-align: center}
h3 {text-decoration: underline}
h4 {font-style: italic}
h5 {font-style: italic; font-weight: none; text-decoration: underline}
h6 {font-weight: none; text-decoration: underline}

div.status {display:block !important; text-align:center; font-size: 0.8em; font-family:monospace}
